# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / build
dist/
build/
*.egg-info/

# PyInstaller
#  PyInstaller creates a folder with the executable and supporting files
*.spec

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# logs
*.log

# IDE
*.idea/
